# Web3Forms access key (https://web3forms.com) for the open-letter signup
# form. It's meant to be public: Vite exposes any PUBLIC_* var to client code,
# which is how Web3Forms expects to be used.

# src/components/announcements/OpenLetterSignupForm.tsx
PUBLIC_WEB3FORMS_OPEN_LETTER_SIGN_UP_KEY=
